/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face
{
	src: url("assets/GL-Nummernschild-Eng.otf");
	font-family: GL-Nummernschild-Eng;
	fontStyle: normal; 
	fontWeight: bold;
	embed-as-cff: false;
}

@font-face
{
	src: url("assets/GL-Nummernschild-Eng.otf");
	font-family: GL-Nummernschild-Eng;
	fontStyle: bold; 
	fontWeight: bold;
	embed-as-cff: false;
}

@font-face
{
	src: url("assets/GL-Nummernschild-Mtl.otf");
	font-family: GL-Nummernschild-Mtl;
	fontStyle: normal; 
	fontWeight: bold;
	embed-as-cff: false;
}

@font-face
{
	src: url("assets/GL-Nummernschild-Mtl.otf");
	font-family: GL-Nummernschild-Mtl;
	fontStyle: bold; 
	fontWeight: bold;
	embed-as-cff: false;
}

.GL-Nummernschild-Eng
{
	font-family: GL-Nummernschild-Eng;
	font-lookup: embeddedCFF;
}

.GL-Nummernschild-Mtl
{
	font-family: GL-Nummernschild-Mtl;
	font-lookup: embeddedCFF;
}

.PlateTextSmall
{
	fontFamily: GL-Nummernschild-Eng;
	fontSize: 30;
	fontWeight: normal;
	kerning: true;
}

.PlateTextMedium
{
	fontFamily: GL-Nummernschild-Eng;
	fontSize: 50;
	fontWeight: normal;
	kerning: true;
}
	
.PlateTextLarge
{
	fontFamily: GL-Nummernschild-Eng;
	fontSize: 96;
	fontWeight: normal;
	kerning: true;
}
	
.MiniPlateText
{
	fontFamily: GL-Nummernschild-Eng;
	fontSize: 18;
	fontWeight: normal;
	kerning: false;
}
.CharacterButton
{
	fontFamily: GL-Nummernschild-Eng;
	fontSize: 28;
	fontWeight: normal;
	kerning: true;
	color: black;
	borderColor: blue;
	chromeColor: white;
}
.PositioningButton
{
	color: white;
	fontFamily: Tahoma;
	fontSize: 9;
	fontWeight: bold;
	kerning: true;
	borderColor: blue;
	chromeColor: blue;
}
.NumericStepperDates
{
	fontFamily: Arial;
	fontSize: 11;
	fontWeight: normal;
}
.PlateDates
{
	fontFamily: Arial;
	fontSize: 20;
	fontWeight: bold;
	kerning: off;
}
.DirectiveLabel
{
	color: blue;
	fontFamily: Arial;
	fontSize: 11;
	fontWeight: bold;
}
.HTMLButton
{
	color: blue;
	fontFamily: Arial;
	fontSize: 11;
	fontWeight: bold;
	text-decoration: underline;
}