<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/david</property>
        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="com/shopsthai/david/hibernate/Tbfolder.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/EmpOrgchart.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Message.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/TbfolderCopy.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Friend.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Reply.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Tree.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Product.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Userinfo.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Armas.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/User.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Tbnode.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Comment.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/Cafolder.hbm.xml" />
        <mapping resource="com/shopsthai/david/hibernate/TbfolderCopy1.hbm.xml" />
    </session-factory>
</hibernate-configuration>
